* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post__list {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user {
    padding: 20px;
    border: 2px solid #5372f0;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.w100 {
    width: 100%;
}

.post {
    padding: 20px;
    border: 2px solid #5372f0;
    margin-top: 15px;
    margin-left: 15px;
    flex: 1 1 500px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.post button {
    padding: 10px;
    cursor: pointer;
}